/* Características generales */
* {
    font-family: 'Quicksand', sans-serif;
    margin:0;
    box-sizing: border-box;
    width: 100vw;
}

a {
    text-decoration: none;
}

a:link {
    color: #aaa;
}

a:visited {
    color: #aaa;
}

a:focus {
    border-bottom: 1px solid;
}

a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

a:active {
    color:aliceblue;
}

ul {
    list-style: none;
    text-decoration: none;
}


/* Diseño navbar */
.navbar {
    background-color: rgba(41,49,51,0.9);  
    width: 100vw;
}

.links {
    display: block;
    padding: 1% 1%;
    position: relative;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
}

.links input[type="checkbox"] {
    opacity: 0;
}

.links input:checked ~ nav {
    display: block;
}
  
.links input:checked ~ .fa-bars {
    display: none;
}

.links input:not(:checked) ~ .fa-times {
    display: none;
}



/* VERSIÓN CELULAR */
@media (max-width:480px){
    
    .navbar h2 {
        display: none;
    }
    
    .navbar img {
        max-width: 30vw;
    }

}


/* VERSIÓN TABLET */
@media (max-width:770px){

}


/* VERSIÓN ESCRITORIO */
@media (min-width:771px){

}