/* Características generales */
* {
    font-family: 'Quicksand', sans-serif;
    margin:0;
    box-sizing: border-box;
    width: 100vw;
}

body {
    box-sizing: border-box;
}

ul {
    list-style:none;
    width: 50%;
    padding:0;
    margin:0;
    text-align: right;
}

header { 
    background-color:  #2e2e2e;
    color: aliceblue;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

nav {
    max-width: 90vw;
}

li {
    padding: 0;
    margin:0;
    max-width: 90vw
}

a {
    text-decoration: none;
    color: #aaa;
    padding: 1%;
    width: 50%;
}

.menu {
    max-width: 50vw;
}

/* Estilo navbar */
.logo img {
    max-height: 4rem;
    width: auto;
}

.logo h2 {
    display: none;
}

.menu input[type="checkbox"], .menu .fa-bars, .menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: -79%;
    top: -66px;
    width: 4rem;
    height: 4rem;
}

.menu .fa-bars, .menu .fa-times {
    font-size: 2.5rem;
    pointer-events: none;
    padding: 6%;
}
  
.menu input[type="checkbox"] {
  opacity: 0;
}

.menu {
  color: white;
  position: relative;
}

.menu .links {
  display: none;
}
  
.menu input:checked ~ .links {
  display: block;
}
  
.menu input:checked ~ .fa-bars {
  display: none;
}

.menu input:not(:checked) ~ .fa-times {
  display: none;
}

.links .seleccionado {
  font-weight: bolder;
  color: aliceblue;
}

.links .cta {
  font-weight: bolder;
  color: olivedrab;
}

.sec1 {
    background-color: #2e2e2e;
    margin-bottom: 5%;
}

.oradores {
    margin-bottom: 5%;
}

.card {
  text-align: center;
  padding: 8% 0;
  color: aliceblue;
}

h1, h2, h5, h3, p {
  text-align: center;
  margin: auto;
  width: 85%;
}

/* Diseño botones */
button {
  padding: 2%;
  margin:3% auto;
  width: 40%;
  border-radius: 5px;
}

.traslucido {
  color:aliceblue;
  border: 2px solid aliceblue;
  background-color: rgba(0,0,0,0);
}

.traslucido:hover {
  background-color: white;
  color:  #2e2e2e;
  border: 2px solid white;
  transition: 0.5s;
  box-shadow: 0px 0px 6px #aaa;
}

.verde {
  background-color: rgb(101, 151, 0);
  color: aliceblue;
  border: 2px solid rgb(101, 151, 0);
}

.verde:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 6px #aaa;
}

/* Sección oradores */
.oradores img {
    padding: 7%;
    width: 100%;
}

.tags {
    padding:0 0 1% 7%;
}

h6 {
    padding: 1%;
    border-radius: 5px;
    display: inline;
    font-weight: 900;
}

.js {
    background-color: rgb(253, 176, 32);
}

.react {
    background-color: rgb(0, 149, 207);
    color: white;
}

.gris {
    background-color: rgb(75, 75, 75);
    color:white
}

.rojo {
    background-color: rgb(185, 0, 0);
    color: white;
}